<div class="background">
<div class="new-event-wrapper">
    <h1 class="body-title">Resolve event</h1>
    <%= render "form.html", conn: @conn, event: @event, outcome: @outcome, resolution: @resolution %>
</div>
</div>
